* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
    user-select: none;
}
#first {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at center, rgb(234, 143, 143), red);
    display: flex;
    flex-direction: column;
}
.navbar {
    height: 15vh;
    width: 100vw;
    display: flex;
}
.logo {
    height: 15vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    height: 30px;
    width: 90px;
    rotate: -5deg;
}
.headings {
    height: 15vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.headings > p {
    font-size: 20px;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
.headings > p:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    text-shadow: 0px 0px 10px black;
    transform: scale(1.1);
}
.icons {
    height: 15vh;
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.main {
    height: 85vh;
    width: 100vw;
    position: relative;
}
.main > p:nth-child(1) {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400px;
    font-family: "Anton";
    font-weight: 900;
    letter-spacing: 5px;
}
.left {
    height: 100%;
    width: 30vw;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.left > p{
    font-size: 25px;
    font-family: "Pacifico", cursive;
    letter-spacing: 2px;
    opacity: 0;
    margin-left: 12px;
}
#content{
    margin-left: 12px;
    opacity: 0;
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    flex-direction: column;
    position: relative;
    top: 10%;
}
#title{
    font-size: 30px;
    font-family: "Black Ops One", system-ui;
}
#info{
    line-height: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.colors {
    height: 100px;
    width: 19svw;
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    position: relative;
    top: 10%;
}
.color {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px solid white;
    box-shadow: 0 0 5px black;
    font-size: 20px;
}
.color:hover {
    border: 3px solid white;
    cursor: pointer;
}
.color:nth-child(1){
    margin-left: 10px;
}
.shoe {
    top: 50%;
    left: 50%;
    position: absolute;
    height: 520px;
    width: 480px;
    transform: translate(-50%, -50%) rotate(-5deg);
    transition: all 0.4s ease-in-out;
}
#shoe1 {
    left: 150%;
}
#shoe2 {
    left: 150%;
}
#shoe3 {
    left: 150%;
}
/* Animations - Keyframes */
@keyframes move {
    0% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(8deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
}


@media only screen and (max-width: 1330px){
    .main > p:nth-child(1) {
        font-size: 300px;
    }
    .shoe{
        height: 400px;
        width: 380px;
    }
    #title{
        font-size: 20px;
    }
    #info{
        font-size: 10px;
    }
    .left > p{
        font-size: 20px;
    }
    .color{
        height: 40px;
        width: 40px;
    }
}
@media only screen and (max-width: 1000px){
    .main > p:nth-child(1) {
        font-size: 230px;
    }
    .shoe{
        height: 350px;
        width: 315px;
    }
    #title{
        font-size: 18px;
    }
    #info{
        font-size: 10px;
    }
    .left > p{
        font-size: 15px;
    }
    .color{
        height: 30px;
        width: 30px;
    }
}
@media only screen and (max-width: 740px){
    .logo{
        width: 30svw;
    }
    .icons{
        width: 30svw;
    }
    .headings{
        opacity: 0;
    }
    .left{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100svw;
        position: relative;
    }
    .main > p:nth-child(1) {
        font-size: 230px;
    }
    #content{
        height: 15svh;
        align-items: center;
        flex-direction: row;
        margin-left: 0px;
    }
    .shoe{
        height: 350px;
        width: 315px;
    }
    #title{
        font-size: 25px;
    }
    #info{
        font-size: 8px;
        line-height: 1rem;
    }
    .left > p{
        font-size: 15px;
        margin-left: 0px;
    }
    .colors{
        justify-content: space-evenly;
        gap: 0px;
        height: 100px;
        width: 200px;
    }
    .color{
        height: 30px;
        width: 30px;
    }
    #selectColor{
        position: absolute;
        bottom: 0%;
        align-content: end;
    }
}
@media only screen and (max-width: 440px){
    .main > p:nth-child(1) {
        font-size: 180px;
    }
}
@media only screen and (max-width: 375px){
    .main > p:nth-child(1) {
        font-size: 150px;
    }
}